<%- include('partials/header') %>

<h1>Uplaoded Images</h1>
<div> 
    <div> 
      <% var i=0 %>
     <% items.forEach(function(image) { %> 
      <div> 
          <div> 
              <img class="myImg small-img column" id="myImg<%=i%>" src="data:image/<%=image.img.contentType%>;base64, 
                   <%=image.img.data.toString('base64')%>" style="width:100%;max-width:300px"> 
               </div> 
      </div> 
      <% i=i+1 %>
      <% }) %> 
  </div>
</div> 
<h1>Total images uploaded</h1>
      <h1 id="value"><%=i%></h1>

<div id="myModel" class="model2">
  <span class="clos2">&times;</span>
   <% var i=0 %>
   <% items.forEach(function(image){ %>
    <img class="model-contentt" id="img0<%=i%>">
    <% i=i+1 %>
   <% }) %>
   <div id="captionn"></div>
  </div>
  <h1>To Upload Image on mongoDB</h1> 
  <hr> 
  <div> 
      <form action="/gallery2" method="POST" enctype="multipart/form-data"> 
          <div> 
              <label for="name">Name of user</label> 
              <input type="text" id="name" placeholder="Name" 
                     value="" name="name" required> 
          </div> 
          <div> 
              <label for="image">Upload Image</label> 
              <input type="file" id="image" 
                     name="image" value="" required> 
          </div> 
          <div> 
              <button type="submit">Submit</button> 
          </div> 
      </form> 
  </div> 

  <hr> 
<script>
  // Get the modal
  var modal = document.getElementById("myModel");
  var i=document.getElementById("value").innerText
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  for(var j=0;j<i;j++)
  {
  
  var img = document.getElementById("myImg"+j);
  var modalImg = document.getElementById("img0"+j);
  var captionText = document.getElementById("captionn");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("clos2")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>



<%- include('partials/header') %>